[Unit]
Description=gpt-oi-rest
After=network-online.target

[Service]
Type=simple
User=root
Restart=on-failure
LimitNOFILE=102400
WorkingDirectory=/app/gpt-oi-rest/current
ExecStart=docker-compose up -d --force-recreate --remove-orphans

[Install]
WantedBy=multi-user.target