[Unit]
Description=gpt-oi-rest
After=network-online.target

[Service]
Type=simple
User=root
Restart=on-failure
LimitNOFILE=102400
WorkingDirectory=/app/gpt-oi-rest/current
ExecStart=docker run -v /data/docker_data:/backend/data -p 9090:8080 hub-proxy.p1.cn/{{tag}}

[Install]
WantedBy=multi-user.target